[run]
branch = True
source = seedbox
omit = seedbox/tests/*, seedbox/db/admin.py, seedbox/db/sqlalchemy/migrate_repo/*, seedbox/torrent/bencode.py

[report]
ignore-errors = True

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError


