# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / Packages
bin/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
cover/
.testrepository/
subunit.log

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff:
*.log
*.pot

AUTHORS

# Sphinx documentation
doc/build/

# Pycharm
.idea

# Vagrant
.vagrant
Vagrantfile
dev/

# virtualenv
venv/
.venv/
