# testing automation
tox>=1.7.2

# coding standards
pep8>=1.4.5
pyflakes>=0.7.2
flake8>=2.0

# test coverage
coverage>=3.6
coveralls

# Docs Requirements
docutils>=0.9.1
sphinx>=1.2.2
sphinxcontrib-httpdomain

# packaging
wheel

# testing
oslotest