[loggers]
keys = root, action, options, pluginmanager, taskmanager, datamanager, model, tasks, xworkflows

[logger_root]
level = NOTSET
handlers = consoleHandler

###
# This group of loggers is intended to reduce the amount of logging by the specified module
# from the default set at the handler level, which is currently at DEBUG
# There is an extra LEVEL named 'TRACE' for more detail than DEBUG, but it is ALOT so only
# use during development
###
[logger_action]
level = WARNING
propagate = 0
handlers = consoleHandler
qualname = action

[logger_options]
level = WARNING
propagate = 0
handlers = consoleHandler
qualname = options

[logger_pluginmanager]
level = DEBUG
propagate = 0
handlers = consoleHandler
qualname = pluginmanager

[logger_taskmanager]
#level = DEBUG
propagate = 0
handlers = consoleHandler
qualname = taskmanager

[logger_datamanager]
#level = INFO
propagate = 0
handlers = consoleHandler
qualname = datamanager

###
# This group of loggers if for package level control to keep that sub components quiet most
# of the time. Only adjust these when you want all the modules in the package to talk
# really loud.
###
[logger_model]
level = WARNING
propagate = 0
handlers = consoleHandler
qualname = model

[logger_tasks]
#level = WARNING
propagate = 0
handlers = consoleHandler
qualname = tasks

###
# This group is for packaged libraries that we leverage internally that have logging enabled
# by default. Most do not enable it w/o your direct enablement but some to enable so here we 
# will shut them down to WARNING unless there is a problem and we need more information.
###
[logger_xworkflows]
level = WARNING
propagate = 0
handlers = consoleHandler
qualname = xworkflows

[formatters]
keys = simple, complex

[formatter_simple]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s

[formatter_complex]
format = %(asctime)s - %(name)s - %(levelname)s - %(module)s : %(lineno)d - %(message)s

[handlers]
keys = consoleHandler

###
# The root is NOTSET, so we keep things noisy enough for now with DEBUG but later we will
# move to either INFO or WARNING during normal production execution. TBD
###
[handler_consoleHandler]
class=StreamHandler
level=TRACE
formatter=simple
args=(sys.stdout,)

